body{
    font-family: Serif;
}
main{
    display: flex;
    flex-direction: row;
}
header,footer{
    background-color: indigo;
    color: white;
    padding: 10px;
    text-align: center;
}
#napis{
    background-color: blueviolet;
    padding: 10px;
    text-align: right;
}
#lewy,#prawy{
    background-color: Lavender;
    height: 500px;
}
#lewy{
    width: 25%;
}
#prawy{
    width: 35%;
}
#srodek{
    background-color: ghostwhite;
    text-align: center;
    height: 500px;
    width: 40%;
}
img{
    float: right;
    width: 50%;
    padding: 10px;
}
p{
    color: white;
    font-size: 150%;
    font-style: oblique;
}
table,form{
    margin: 30px;
}
table,td{
    border: 1px solid indigo;
}
th,td{
    padding: 3px;
}
