*{
    font-family: Cambria;
}
body{
    margin: 0px;
    padding: 0px;
}
#lewy_1,#lewy_2{
    background-color: #E1BEE7;
    display: flex;
}
#lewy_1{
    height: 400px;
    flex-direction: column;
}
#lewy_2{
    height: 330px;
}
#prawy_1,#prawy_2{
    font-size: 170%;
    text-align: center;
}
#prawy_1{
    background-color: #9C63A6;
    color: white;
    height: 150px;
    word-spacing: 5px;
}
#prawy_2{
    color: indigo;
    height: 580px;
}
footer{
    background-color: #9C63A6;
    color: white;
    padding: 10px;
}
h2{
    text-align: center;
}
ul{
    list-style-type: circle;
}
img{
    padding: 4px;
    margin: 15px;
}
img:hover{
    padding: 3px;
    border: 1px dotted indigo;
}
li a{
    padding: 25px;
}
main{
    display: flex;
}
#ulozenie_p{
    width: 75%;
    display: flex;
    flex-direction: column;
}
#ulozenie_l{
    width: 25%;
    flex-direction: column;
}