body{
    font-family: Georgia;
    color: white;
}
header,footer{
    background-color: #824555;
    text-align: center;
    padding: 20px;
}
#lewy,#srodek{
    width: 30%;
    height: 350px;
}
#lewy{
    background-color: #A26475;
}
#srodek{
    background-color: #824555;
}
#prawy{
    background-color: #A26470;
    width: 40%;
    height: 350px;
    overflow: auto;
}
img{
    float: left;
    width: 50px;
}
table,p,dt{
    padding: 10px;
}
dt{
    padding: 20px;
}
th,td{
    border: 3px solid #824555;
    padding: 5px;
}
section{
    float: left;
}
footer{
    clear: both;
}
