*{
    font-family: Tahoma;
    padding: 0;
    margin: 0;
}
section{
    background-color: #FB8E02;
}
menu{
    background-color: #232323;
    width: 20%;
    height: 450px;
    float: left;
}
main{
    background-color: #AEC6E6;
    width: 80%;
    height: 450px;
    overflow: scroll;
    float: left;
}
footer{
    padding: 2px;
    text-align: right;
    clear: both;
}
img{
    width: 100%;
}
h1{
    padding: 50px;
    color: maroon;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    background-color: #FB8E02;
    width: 95%;
    padding: 5px;
    margin-top: 10px;
}
a{
    text-decoration: none;
    color: #232323;
    font-size: 110%;
}
li:hover{
    background-color: #B36501;
}