*{
    font-family: Verdana;
}

header,footer{
    background-color: #004D40;
    color: white;
    padding: 10px;
    text-align: center;
}
#lewy{
    background-color: #80CBC4;
    color: white;
    height: 500px;
    width: 30%;
}
#srodek{
    background-color: #E0F2F1;
    height: 500px;
    width: 30%;
    text-align: center;
}
#prawy_1,#prawy_2{
    height: 250px;
}
#prawy_1{
    background-color: #E0F2F1;
}
#prawy_2{
    background-color: #B2DFDB;
}
h3{
    text-align: center;
}
img{
    padding: 5px;
    height: 150px;
    border: 1px dotted #004D40;
    border-radius: 5px;
}
input{
    margin: 10px;
}
main{
     display: flex;
}
#prawe{
    display: flex;
    flex-direction: column;
    width: 40%;
}
