header{
    background: url(naglowek.png);
    height: 170px;
}
aside{
    width: 25%;
    height: 720px;
    text-align: center;
}
nav,main{
    width: 55%;
}
nav{
    height: 90px;
}
main{
    padding: 22px;
    margin-left: 3%;
    box-shadow: 0px 0px 25px grey;
}
#obrazy, main{
    height: 530px;
    overflow: auto;
}
footer{
    background-color: crimson;
}
.opis{
    font-size: 150%;
    line-height: 150%;
    text-align: left,right;
}
li{
    display: inline-block;
    width: 30%;
}
a{
    display: block;
    color: #382828;
    font-size: 180%;
    text-decoration: none;
    text-transform: uppercase;
}
aside img{
    border-right: 4px solid crimson;
    border-bottom: 4px solid crimson;
    border-radius: 25px;
}
aside img:hover{
    border-color: Teal;
}
h1{
    font-family: Chiller, fantasy;
    color: Crimson;
    font-size: 152px;
    letter-spacing: 30px;
    margin: 0px;
}
#kontener1{
    display: flex;
    width: 100%;
}
#kontener2{
    flex-direction: column;
    width: 100%;
}