*{
    font-family: Tahoma;
}
body{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: #519657;
    color: white;
    text-align: center;
    height: 150px;
    float: left;
}
#pierwszy{
    width: 70%;
}
#drugi{
    width: 30%;
}
#lewy,#srodek,#prawy{
    background-color: #E1E1E1;
    height: 450px;
    float: left;
}
#lewy,#prawy{
    width: 25%;
}
#srodek{
    width: 50%;
    overflow: auto;
}
footer{
    background-color: #80C683;
    text-align: center;
    clear: both;
}
#obraz_2{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 0px;
    padding-right: 0px;
}
table{
    border: 1px solid #80C683;
}
td{
    padding: 2px;
}
tr:hover{
    background-color: #80C683;
}
tr:last-child{
    background-color: red;
}
